exportClasses(GeotopRasterBrick)
exportClasses(zoo)
export(color.bar)
export(color.bar.raster)
export(create.geotop.inpts.keyword)
export(declared.geotop.inpts.keywords)
export(geotopbrick)
export(get.geotop.inpts.keyword.value)
export(getvalues.brick.at.depth)
export(max_value)
exportMethods(brick)
exportMethods(KML)
export(min_value)
export(pointer.to.maps.xy.time)
export(pointer.to.maps.xyz.time)
export(read.raster.from.url)
export(vertical.aggregate.brick.within.depth)
export(writeRasterxGEOtop)
importFrom("methods",Arith)
importFrom("methods",Compare)
importFrom("methods",Logic)
importFrom("raster",subset)
S3method(geotopbrick,default)
S3method(geotopbrick,zoo)
